div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dropdown{
  background-color: #f0f0f0;
  padding: 0.3rem 1rem;
  margin: 3.2rem 0.15rem;
  border-radius: 10rem;
  font-weight: 600;
  color: blue;
  width: 90%;
  height: 3rem;
  
}
